@import "~bootstrap/scss/bootstrap.scss";



header {

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;
        padding: 2rem;

        ul {
            display: flex;
            flex-direction: row;
            list-style: none;


            a {
                padding: 1.5rem;
                color: #514f4e;
                text-decoration: none;

                &:hover {
                    color: #0282f9;
                }
            }

        }
    }



}


main {

    background-color: #1c1c1c;
    color: white;
    padding: 6rem;
}

footer {

    section.footer-cards {

        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #0282f9;
        width: 100%;
        padding: 3rem;

        div {
            color: white;
            padding: 2rem;
        }

    }

    section.footer-links {
        background-color: #242424;
        display: flex;
        flex-direction: row;

        div {
            display: flex;
            flex-direction: row;
            width: 40rem;
            flex-wrap: wrap;
            padding: 2rem;

            ul {
                margin: 1rem;
                list-style: none;

                a {
                    text-decoration: none;
                    color: #5d5e5b;

                    &:hover {
                        color: white;
                    }
                }

                h4 {
                    color: white;


                }

            }
        }
    }

    section.socials {

        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background-color: #303030;


        button {
            width: 8rem;
            height: 3rem;
            border: solid 1px #0776db;
            background-color: #303030;
            color: white;
            margin: 3rem;

            &:hover {
                background-color: #0282f9;
            }
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            padding-left: 59rem;
            color: #0282f9;
            margin: 4rem;

            li {

                margin-left: 1rem;

                a {
                    text-decoration: none;
                    color: #787878;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }




}